**/__pycache__/
/.zeroshot
/data/*
.DS_Store
**/.hydra/
/Latent_Communication.egg-info
/dump
results.csv
results_top.csv
**/.vscode/
error_distribution.csv
results_class.csv
/outputs/*
/multirun/*
results/transformations/calculations_databases/*
results/